<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="red-boards-app" ng-controller="mainCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">{{title}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form> -->
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <div style="margin-top:50px;" class="row">
      <div class="col-md-12">

        <!-- <div>{{title}}</div> -->
        <div>
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/ng-template" id="/data_list.html">
  <table class="table-condensed table-responsive">
    <thead>
      <tr>
        <th>MLS Area</th>
        <th>Client Code</th>
        <th>Client</th>
        <th>Last Run</th>
        <th>Host</th>
        <th>Status</th>
        <th>Create Date</th>
        <th>Exception Type</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data | orderBy: 'client_name'">
        <td><a href="#/item/{{item._id}}">{{item.mls_area}}</a></td>
        <td>{{item.client_code}}</td>
        <td>{{item.client_name}}</td>
        <td>{{item.last_run}}</td>
        <td>{{item.host_server}}</td>
        <td>{{item.status}}</td>
        <td>{{item.create_date}}</td>
        <td>{{item.exception_type}}</td>
        <td>{{item.body}}</td>
      </tr>
      <tbody>
  </table>
</script>

<script type="text/ng-template" id="/item.html">


  <!--
  <div>MLS Area: {{item.mls_area}}</div>
  <div>Client Code: {{item.client_code}}</div>
  <div>Client Name: {{item.client_name}}</div>
  <div>Last Successful Run: {{item.last_run}}</div>
  <div>Host Server: {{item.host_server}}</div>
  <div>Created On: {{item.create_date}}</div>
  <div>Exception Type: {{item.exception_type}}</div>-->
  <div>Author: {{item.author}}</div>
  <div>Description: {{item.body}}</div>
  <form name="updateData" ng-submit="updateExItem()">
    <div>
      <select ng-model='item.status' required>
        <option value="New">New</option>
        <option value="Reviewed">Reviewed</option>
        <option value="In Progress">In Progress</option>
        <option value="Blocked">Blocked</option>
        <option value="Complete">Complete</option>
      </select>
    </div>
    <div>
      Ticket Number:
      <input ng-model="item.ticket_num" placeholder="Enter the ticket number" /> {{ticket_num}}
    </div>
    <div>
      Action Taken:
      <input ng-model="item.action_taken" placeholder="The action taken" /> {{action_taken}}
    </div>
    <div>
      Cause of Failure:
      <input ng-model="item.cause" placeholder="What caused the outage?" /> {{cause}}
    </div>
    <input type="submit" value="Submit" />
  </form>
  <div>
    <h3>Add Comment: </h3>
  </div>
  <form name="addComment" ng-submit="addComment">
    <div>
      <textarea ng-model="comment.body" required></textarea>
    </div>
    <div>
      <input ng-model="comment.author" placeholder="Enter your name" />
    </div>
    <input type="submit" value="Submit Comment" />
  </form>

  <div ng-repeat="comment in item.comments | orderBy: '-create_date'">
    <div>{{comment.body}}</div>
    <div>Authored by: {{comment.author}} on {{comment.create_date}}</div>
  </div>
</script>

</html>